.footer_fix{
    width:100%;
    min-width:300px;
    max-width:640px;
    position: fixed;
    bottom:0;
    background: #323663;
}
.footer_fix ul{
    width:100%;
}
.footer_fix ul li{
    float: left;
    width:20%;
}
.footer_fix ul li a {
    padding-top:10px;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.footer_fix ul li a span{
    display: block;
    color:#4f528c;
}
.footer_fix ul li img{
    width:30%;
    height: 30%;
    margin:0 auto;
}
.footer_fix ul li.current a span{
    color:#53acff;
}